@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import 'react-toastify/dist/ReactToastify.css';

body {
  font-family: Roboto, serif;
  font-size: 16px;
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

small {
  color: #555;
  font-size: 85%;
}
